.main {
  border-radius: 5px;
  background: var(--l-gray, #c7c7c7);
  display: grid;
  height: 62px;
  grid-template-columns: 90px 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0 12px;
  gap: 14px;
  padding-left: 32px;
}

.box {
  color: var(--, #1c1c1c);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
