.header {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0 12px;
  gap: 14px;
  border-top: 1px solid var(--l-gray, #c7c7c7);
  border-bottom: 1px solid var(--l-gray, #c7c7c7);
  background: var(--W, #fff);
  padding-left: 32px;
}

.headerOpen {
  background-color: #cbddff;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  border-radius: 5px;
  background: #fff;
}

.arrow {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.5s;
}

.arrow:hover {
  background-color: #cbddff;
}

.arrowOpen {
  transform: rotate(0.25turn);
}

.name {
  color: #f25627;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  text-decoration-line: underline;
}

.location {
  color: #8e8e8e;
  /* 14 - Body */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.content {
  background-color: #f5f6f8;
  border: 1px solid #eff0f4;
  padding: 10px 28px;
}

.order {
  color: #1c1c1c;

  /* 14 Med */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
