.main {
  height: 48px;
  padding: 12px 20px 10px 20px;
  border-radius: 5px;
  background: #f25627;
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.main:hover {
  opacity: 0.8;
}

.main:active {
  opacity: 0.9;
}

.second {
  height: 48px;
  padding: 12px 20px 10px 20px;
  border-radius: 5px;
  color: #f25627;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.second:hover {
  opacity: 0.8;
}

.second:active {
  opacity: 0.9;
}
