.input {
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: #fff;
  height: 48px;
  width: 100%;
  padding-left: 21.2px;
  font-family: "Manrope", sans-serif;
  color: #505050;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.label {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
